*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-color: rgb(32, 30, 32);
    color: blueviolet;
    margin: 0;
    padding: 0;
}
div p{
    padding:0px 50px;
}
div img{
    width: 100%;
    height: auto;
    margin-bottom: 4%;
}
.white{
    background-color: white !important;
}