/* -----------------------------------------------------------------------balise général */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(32, 30, 32);
    color: rgb(43, 226, 171);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
a{
    height: 75%;
    width: 75%;
    margin-bottom: 5%;
}
div p{
    padding:0px 30px;
}
div img{
    width: 100%;
    height: auto;
    margin-bottom: 4%;
}
a img{
    border-radius: 3vh;
}
h3{
    text-align: center;
}
li{
    margin-left: 10%;
}
/*----------------------------------------------------------------------------------- class */
.white{
    background-color: white !important;
}
.row{
    margin: 0px;
    padding: 0px;
    width: 98%;
}
.icons{
    height:75px;
    width: auto;
}
.back-to-top{
    position: sticky;
    width: 75px;
    height: 75px;
    top: 50%;
    left: 93%;
}
/* -----------------------------------------------------------------------------------------------id */
#Déployer{
    width: 90%;
    border: rgb(43, 226, 171) 3px ridge;
    border-radius: 5vh;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
}
/* -------------------------------------------------------------------------- animation chargement  */
.loading{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform:perspective(500px) rotateX(45deg);
}
.loading span{
    position: absolute;
    display: block;
    border: 15px solid rgb(43, 226, 171);
    border-radius: 50%;
    box-shadow: 0 10px 0 rgb(43, 226, 171), inset 0 10px 0 rgb(43, 226, 171);
    animation: animate 4.5s ease-in-out infinite;
}
.loading span:nth-child(1){
    animation-delay: 0s;
}
.loading span:nth-child(2){
    animation-delay: 1.5s;
}
.loading span:nth-child(3){
    animation-delay: 3s;
}
@keyframes animate{
    0%{
        transform: translateZ(-70px);
        width: 100%;
        height: 100%;
    }
    /*------------------------- +70px pour monter */
    25%{
        transform: translateZ(70px);
        width: 100%;
        height: 100%;
    }
    50%{
        transform: translateZ(70px);
        width: 35%;
        height: 35%;
    }
    75%{
        transform: translateZ(-70px);
        width: 35%;
        height: 35%;
    }
    /*--------------------- -70px pour decendre */
    100%{
        transform: translateZ(-70px);
        width: 100%;
        height: 100%;
    }
}
/* ------------------------------------------------------------------- animation rond colorer */
.box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(43, 226, 171);
    transition: transform 0.4s cubic-bezier(0.23,1.83,0.42,1.19);
}
.box p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    letter-spacing: 3px;
    font-family: Righteous;
}
.circle{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    animation: 1s linear infinite alternate boxMagic, 4s linear infinite spinning;
}
@keyframes boxMagic{
    from{
        box-shadow: 
        0 0 0 #e93d09,
        0 0 0 #ab18bb,
        0 0 0 #9ec75c,
        0 0 0 rgb(43, 226, 171);
    }
    to{
        box-shadow: 
        0 -15px 0 #e93d09,
        -15px 0 0 #ab18bb,
        0 15px 0 #9ec75c,
        15px 0 0 rgb(43, 226, 171);
    }
}
@keyframes spinning{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/*------------------------------------------------------------------------------------------------- js css */

.theme{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    cursor: pointer;
}
#reset{
    background-color: rgb(32, 30, 32);
}
#verdant{
    background-color: rgb(112, 112, 51);
}
#salmon{
    background-color: salmon;
}
#red{
    background-color: rgb(218, 125, 82);
}
.verdantTheme{
    background: rgb(112, 112, 51);
}
.salmonTheme{
    background: salmon;
    color: #ab18bb;
}
.redTheme{
    background: rgb(218, 125, 82);
    color: white;
}
.resetTheme{
    border-color: rgb(32, 30, 32);
    color: rgb(43, 226, 171);
}
/* **************************************************************************************************************** media */
@media(max-width:768px){
    .circle{
        height: 220px;
        width: 220px;
    }
    .loading{
        position: relative;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        transform:perspective(500px) rotateX(45deg);
    }
    .loading span{
        position: absolute;
        display: block;
        border: 10px solid rgb(43, 226, 171);
        border-radius: 50%;
        box-shadow: 0 10px 0 rgb(43, 226, 171), inset 0 10px 0 rgb(43, 226, 171);
        animation: animate 4.5s ease-in-out infinite;
    }
    @keyframes animate{
        0%{
            transform: translateZ(-40px);
            width: 100%;
            height: 100%;
        }
        /*------------------------- +40px pour monter */
        25%{
            transform: translateZ(40px);
            width: 100%;
            height: 100%;
        }
        50%{
            transform: translateZ(40px);
            width: 35%;
            height: 35%;
        }
        75%{
            transform: translateZ(-40px);
            width: 35%;
            height: 35%;
        }
        /*--------------------- -40px pour decendre */
        100%{
            transform: translateZ(-40px);
            width: 100%;
            height: 100%;
        }
    }
    iframe{
        width: 270px;
        height: 300px;
    }
    .icons{
        height:40px;
        width: auto;
    }
    .back-to-top{
        width: 40px;
        height: 40px;
    }
    .row{
        width: 95%;
    }
}